@font-face {
  font-family: 'Roboto';
  src: local('RobotoLight'), url('../assets/fonts/Roboto-Light.woff2') format('woff2');
  font-weight: 100;
}

@font-face {
  font-family: 'Roboto';
  src: local('RobotoRegular'), url('../assets/fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: 300;
}
@font-face {
  font-family: 'Roboto';
  src: local('RobotoMedium'), url('../assets/fonts/Roboto-Medium.woff2') format('woff2');
  font-weight: 500;
}
@font-face {
  font-family: 'Roboto';
  src: local('RobotoBold'), url('../assets/fonts/Roboto-Bold.woff2') format('woff2');
  font-weight: 700;
}

a {
   text-decoration: none;
}

*{
  box-sizing: border-box;
}
.wrapper {
  margin: 0 auto;
  margin-left: 80px;
  display: flex;
  @media (max-width: 430px) {
    margin-left: 0;
  }
}
#layout{
  max-width: 1440px;
  width: 100%;
}
.page-leftSide{
  flex: 0.5;
  @media(max-width: 768px) {
    width: 100%;
    flex: 1;
   }
   @media(max-width: 430px) {
    display: flex;
    flex-direction: column;
   }
}
.page-rightSide{
 flex: 0.5;
 @media(max-width: 768px) {
  display: none;
 }
}

body{
  margin: 0;
}