@font-face {
  font-family: 'Roboto';
  src: local('RobotoLight'), url('../assets/fonts/Roboto-Light.woff2') format('woff2');
  font-weight: 100;
}

@font-face {
  font-family: 'Roboto';
  src: local('RobotoRegular'), url('../assets/fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: 300;
}
@font-face {
  font-family: 'Roboto';
  src: local('RobotoMedium'), url('../assets/fonts/Roboto-Medium.woff2') format('woff2');
  font-weight: 500;
}
@font-face {
  font-family: 'Roboto';
  src: local('RobotoBold'), url('../assets/fonts/Roboto-Bold.woff2') format('woff2');
  font-weight: 700;
}

a {
   text-decoration: none;
   &:visited{
     color: $gray-dark;
   }
}

*{
  box-sizing: border-box;
}
.wrapper {
  margin: 0 auto;
  margin-left: 80px;
  display: flex;
  @media (max-width: 430px) {
    margin-left: 0;
  }
  @media(max-width: 768px) {
    height: 100%;
   }
}
.layout{
  width: 100%;
  @media(max-width: 768px) {
    height: 100%;
   }

}
.page-left-side{
  flex: 0.5;
  display: flex;
  flex-direction: column;
  @media(max-width: 768px) {
    width: 100%;
    flex: 1;
   }
   @media(max-width: 430px) {
    display: flex;
    flex-direction: column;
   }
}
.page-right-side{
 flex: 0.5;
 @media(max-width: 768px) {
  display: none;
 }
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
  @media (max-width: 768px) {
   height: 100%;
  }
}

.slider-item{
  & img {
    width: 100%;
    height: 100%;
  }
}
html{
  @media(max-width: 768px) {
    height: 100%;
   }
}