$main-accent: #0EC261;
$main-black: #121212;
$gray-dark: #999999;
$gray-light: #EEEEEE;
$blue: #007BFF;
$backGroundAdmin: #F5F6F8;
$backGroundBurgerButton: #FFFFFF;
$backGroundSocialIcon:#FFFFFF;
$black: #121212;
$sideBarBg: #151B1F;
$burgerMenuBackground: #111518;
$mainPage_gray: #999999;
$mainFooter_gray: #999999;
$whiteTextColor: #FFFFFF;